/* .conatiner{
    margin: 100px 0px;
    
}
.contain{
    margin:100px 100px;
    height:100%;
   background-color: rgb(255, 255, 255);
}
.card{
    padding-bottom: 10px;
    border-radius: 20px;
    margin:20px 500px;
}
.page{
    height:100%;
}
.student-info {
    text-align: center;
    border-color: #000;
    border-radius: 20px;
   border: 1px solid; 
   padding: 10px 10px
  }
  label{
 padding-top: 15px;
  }
 .b{
margin-left: 50%; }
  .studentname{
   color: #000;
   display: flex;
   padding-bottom: 10px;

   border: 1px solid;
   padding-top: 10px;
   padding-left: 10px;
   border-radius: 10px;
   margin-bottom: 10px;
  }
  .btn{
    margin-top: 10px;
    margin-bottom: 10px;

  } */
  * {
    box-sizing: border-box;
    padding: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }
  *, ::after, ::before {
    box-sizing: border-box;
  }
  .yearwise{
    background: rgb(238, 240, 214);
    /* background: linear-gradient(0deg, rgb(118, 211, 236) 0%, rgba(43,227,252,1) 32%, rgba(127,226,255,1) 45%, rgba(82,216,255,1) 61%, rgb(86, 216, 252) 100%); */
    padding-top:10px;
    margin: 0;
    height: 100vh;
  }
  .divisions{
    background: rgb(238, 240, 214);
    /* background: linear-gradient(0deg, rgb(118, 211, 236) 0%, rgba(43,227,252,1) 32%, rgba(127,226,255,1) 45%, rgba(82,216,255,1) 61%, rgb(86, 216, 252) 100%); */
    padding-left: 500px;
    padding-top: 60px;
    margin: 0;
    height: 100vh;
    align-content: center;
    justify-content: center;
  }
  .Allyears{
    align-items: center;
    justify-content: center;
    margin:40px 100px;
    padding:10px 10px;
    display: flex;
  }
  .yearcard{
    background-color:#ffff;
    box-shadow: 5px 5px 10px rgb(145, 158, 161);

    overflow: hidden;
    border-radius: 10px;
  margin-right: 20px;
    height:200px;
    width:500px;
    border: solid 1px;
  }
  .card{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(145, 158, 161);
  overflow: hidden;
  }
  .allrequest{
    margin-left: 230px;
    margin-bottom: 20px;
  }
  .page{
    background: rgb(238, 240, 214);

  }
  .list-group-item{
   display: flex;
  }
  .b{
    
    width: 25%;
    margin-left: 100px;
  }
  .name{
    width:25%
  }